.main
{
  text-align: center;
}

.container {
  height: 200px;
  position: relative;
}

.card
{
  width: 18rem;
  float: left;
  margin-right: 100px;
  margin-bottom: 10px;
  padding: 16px;
  text-align: center;
}

.card1
{
  margin-top: 30px;
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */ 
  width: fit-content;
  border: 0.5px solid;
}

.recipeCard
{
  padding-left: 30px;
  flex-direction: row;
  text-align: center;
}